@import "tailwindcss";

html{

scroll-behavior:smooth;

}

body{

font-family:'Poppins',sans-serif;

background:#F8FAFC;

color:#111827;

}

section{

padding:100px 0;

}

.container{

max-width:1200px;

margin:auto;

padding:0 24px;

}